node_modules
dist
e2e/out
*.log
android/app/build
android/.gradle
android/build
android/local.properties
android/app/release
*.keystore
*.jks
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins
